<div class="thank-you">
	<div class="panel panel-default">
		<div class="panel-body">
			<p><span class="glyphicon glyphicon-ok"></span> Thank you. We have received your message and will respond as soon as possible.</p>
		</div>
	</div>
</div>