#search_box {
    display: inline-block;
    margin-right: 2em;
    .text-field {
        border: solid 1px #E4E4E4;
        border-radius: 6px;
        padding: 0.1em 0.2em;
        font-size: 1.5em;
    }
    .submit {
        margin: 2px 0 0 0;
        background: none;
        box-shadow: none;
        border: 0;
        color: #666666;
        padding: 0 8px 0 10px;
        font-size: 1.6em;
    }
    input[type="submit"]:hover, input[type="submit"]:active {
        color: black;
    } 
}