#search_box {
    display: inline-block;
    margin-right: 2em;
    .text-field {
        border: solid 1px #E4E4E4;
        border-radius: 6px;
        padding: 0.1em 0.2em;
        font-size: 1.5em;
    }
    .nav-button {
        margin: 0.5em;
        background: none;
        box-shadow: none;
        border: 0;
        color: #666666;
        font-size: 1.6em;
    }
    .nav-button:hover, .nav-button:active {
        color: black;
    } 
}

@media only screen and (max-width: 768px) {
    #search_box {
        .text-field {
            font-size: 1em;
            width: 60px;
    }
    }
}
