// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
	min-width: 700px;
	margin: 2em;
	thread th {
		padding: 0.2em 2em;
	}
}
