// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.round-corners {
	border-radius: 3%;
}

.right-text {
	text-align: right;
}

.left-text {
	text-align: left;
}

.center-text {
	text-align: center;
}

.right-space-2 {
	margin-right: 2em;
}

mini-space-right {
	margin-right: 0.3em;
}

.after-space-2 {
	margin-bottom: 2em;
}

.content-wrapper {
	max-width: 90%;
	margin: 0 auto 1em auto;
}

.bottom-buttons {
	margin: 2em 0;
	a {
		margin-right: 0.5em;
	}
}

.product {
	margin: 2em 0;
}

.form-wrapper{
	margin: 2em auto;
	width: 50%;
}

.show-product {
	max-width: 800px;
	margin: 2em auto;
	.carousel-inner{
		.item img{
			width: 100%;
			margin: auto;
		}
	}
	p.description {
		font-size: 1.8em;
		letter-spacing: 0.1em;
		line-height: 1em;
		margin-top: 1em;
	}
	img {
		margin: 1em;
	}
}

.show-product {
	
}

.products-wrapper {
	.add-product a {
		margin: 1em 0 0.5em 0;
	}
	h1 {
		margin-bottom: 0.5em;
	}
	margin-bottom: 2em;
}

.product-img {
	max-height: 200px;
}

.textbox600 {
	max-width: 600px;
}

