// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
	min-width: 700px;
	margin: 2em;
	thread th {
		padding: 0.2em 2em;
	}
}

.form_wrapper {
	margin: 2em 0 15em 0;
	width: 25%;
}

.round-corners {
	border-radius: 3%;
}

.right-text {
	text-align: right;
}

.left-text {
	text-align: left;
}