<div class="content-wrapper">

	<h1 class="center-text">Editing Product</h1>
		<div class="form-wrapper">
			<%= render 'form' %>
		</div>
		<div class="bottom-buttons">
			<%= link_to 'Show', @product , class: 'btn btn-success'  %>
			<%= link_to 'Back', products_path , class: 'btn btn-default'  %>
		</div>
</div>
<% logger.debug "---------------------------------- Editing Product: #{@product.name}"%>
